<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    id="WebApp_ID" version="3.1">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>geolocalisation.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>geolocalisation.servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>geolocalisation.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>ParametresServlet</display-name>
    <servlet-name>ParametresServlet</servlet-name>
    <servlet-class>geolocalisation.servlets.ParametresServlet</servlet-class>
    <multipart-config>
      <location>E:\</location> 
      <max-file-size>10485760</max-file-size> 
      <max-request-size>52428800</max-request-size> 
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParametresServlet</servlet-name>
    <url-pattern>/parametres</url-pattern>
  </servlet-mapping> 
  
   <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>geolocalisation.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/nouveau</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>RecherchesServlet</display-name>
    <servlet-name>RecherchesServlet</servlet-name>
    <servlet-class>geolocalisation.servlets.RecherchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecherchesServlet</servlet-name>
    <url-pattern>/recherches</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>geolocalisation.servlets.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    <description></description>
    <display-name>UtilisateursServlet</display-name>
    <servlet-name>UtilisateursServlet</servlet-name>
    <servlet-class>geolocalisation.servlets.UtilisateursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateursServlet</servlet-name>
    <url-pattern>/utilisateurs</url-pattern>
  </servlet-mapping>        
</web-app>